:root{
    --greenbg: #1E2C20;
    --black:#000000;
    --text:#292828;
    --active-hover: #982A1C;
    --accent-txt : #B73A2A;
    --card-color-option: #EA2D2C;
    --card-color-selector: #353535;
    --navbar-txt1:#353535;
    --navbar-txt2: #3F3C3C;
    --background: #EDEDED;
    --secondary-txt: #FFFFFF;
    --herobg:#181818CC;


}

body{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

h1{
    font-size: 64px;
    text-align: center;
    margin-bottom: 1rem;
}
h2{
   font-size: 36px;
}

.flex-even{

        display:flex;
        justify-content: space-evenly;
 }
 .top-padding{
    padding-top:6rem;
 }
/*end generic styles*/



.navbar{
    background-color: var(--background);
    padding: 2rem 5rem;

}


.nav-link{
    color: var(--navbar-txt1);
    font-size: 24px;
    font-weight: 400px;
    margin: 0 1rem;
}
.activelink{
    color: var(--accent-txt);
}

.logo-img{
width: 100px;  
  height: auto;

}

.hero-image{
    background-image: url('../assets/hero.jpg');
    width:100%;
    height: 1067px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centers the image regardless of the screen size*/
}
.hero-image-row{
    margin-bottom: 12rem;
    margin-left:5rem;
    padding: 1rem 1rem;
    width: 30rem;
    border: 1px solid black;
    background-color:var(--herobg) ;
    color:white;
    font-size: 2.5rem;
    opacity: 0.75;

}

.green-divider{

    background-color: var(--greenbg);
    padding: 2rem;
    color:white;
    font-size: 24px;
    text-align: center;
}

/*start cooking*/

.start-cooking-parent{
   
    padding:1rem 2rem;
    
  

}
.cooking-section{
padding:2rem;
 
}
.cooking-section img{
    width:379px;
    height: 402px;
    border-radius: 10px;
    padding-bottom:1rem;
}


/*start cooking end*/

/*new arrivals start*/


  .new-arrivals{
   width:90%;
  }

  .new-arrivals img{
    width:100%;
    height: 492px;
    object-fit: cover;
    object-position: 20% 50%;
    margin-bottom: 1rem;
  }


.color-selector {
    width: 40px;
    height: 40px;
    border-radius: 50%;       /* Makes it circular */
    display: inline-block;    /* Aligns the items side-by-side */
    background-color: inherit;
    cursor: pointer;
   margin: 0 .5rem;
   
    

  }

  .color-selector-active{
      /* Inner black border */
      border: 4px solid white;
    
      /* Outer white border */
      box-shadow: 0 0 0 1px black; /* 4px white border outside the black border */

  }
  /*new arrivals end*/

  /*Best sellers start*/
  .best-sellers-parent{
    margin: 1rem 1rem;
    display: flex;

    gap:20px;
   
    

  }

  .best-sellers-card{
    border: 1px solid black;
    padding:24px;
    border-radius: 10px;
    margin: 0 2rem;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 

    

  }
  .card-set-height{
    height: 757px;
  }
  .best-sellers-card img{
   width: 449px;
    height: 338px;
    object-fit: cover;
    border-radius:10px;
    padding-bottom: 1rem;

  }

  .best-sellers-card button{
 
    border-radius:0;
    padding: .5rem 2rem;
    width:200px;
  }

  /*best sellers end*/

  /*reviews start*/
  .reviews-parent{

    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    gap: 2rem;
    margin: 2rem 2rem;

  }
  .reviews-card{
    width:531px;
        height: 664.751px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius:10px;
      display:flex;
      justify-content: center;
      align-items: center;
  }

  .reviews-txt{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:3rem 3rem;
    flex-direction: column;
    border-radius: 10px;
    background:rgba(18,18,18,0.60); /* overlay 60% transparency*/ 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    width: 80%;
    height: 40%;
    color: white;


  }

  .review1{
    
        background-image: url('../assets/Reviews1.jpg');
        
     
    
  }
  .review2{
    

    background-image: url('../assets/Reviews2.jpg');

  }
  .review3{
    

    background-image: url('../assets/Reviews3.jpg');

  }
  /*reviews end*/

  /*footer start*/
  .footer{
   
      
        width:100%;
        display:grid;
        grid-template-columns: repeat(8,1fr);
        background-color: var(--greenbg);
        color: white;
        padding: 5rem 2rem 3rem 2rem;
        margin-top: 7rem;
        
      
    }

    .footer-links-about{
      grid-column: 1 ;

    }
    .footer-links-products{
      grid-column: 2 ;
      

    }

    .footer-links-customerservice{
      grid-column: 3 ;
      

    }


    .footer-subscribe-section{

        grid-column: 6/8;
    }
  .footer-subscribe-section input{
    height: 42px;
    width: 240px;
  }
  .footer-subscribe-section button{
    height: 42px;
   width: 159px;
  }
  
  .icons i{
    padding:2rem 1rem 0 0;
  }
  /*footer end*/